@model IList<FSharpDemoPresentation.Models.ChapterPresentation>

<section>
    <article>
        <header></header>
        <div id="CallDllContent">
            Insert the dll.Net reference on you F# project, and use it like C#
            Your program can be in 64 bits compiled and your dll on 32 bits compiled, the CLR can interpret it.
        </div>
        <aside>
            <code>
<pre>
module ExternalCalling
open MyDll2
// -- main --
let mainExternalCalling () =
    let testDll = new PiRCommon("guy")
    printfn "%s" (testDll.SayHello())
    printfn "Square function Pow(Pi,2) value : %f" (testDll.PiR_2())
    printfn "%s" (testDll.SayBye())
</pre>
            </code>
        </aside>
        <footer></footer>
    </article>
</section>

@if (Model != null)
{
    Html.RenderPartial("IndexSubCategories/_PictureDemo", Model);
}