@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sword Technologies<br />
    2 rue d'Arlon<br />
    Windhof, Luxembourg<br />
    <abbr title="Phone">P:</abbr>
    (00352) 661 798 811
</address>

<address>
    <strong>Personal e-mail:</strong>   <a href="mailto:pierrecontri@outlook.com">pierrecontri@outlook.com</a><br />
</address>

<iframe frameborder="0" scrolling="no"style="width: 392px; height:177px;" src="https://www.mcpvirtualbusinesscard.com/VBCServer/PierreContri/interactivecard"></iframe>
