<section>
    <article>
        <header></header>
        <div id="FunctionnalProgrammingWithLinqContent">

        </div>
        <aside>
            <code>
<pre>
module LinqDemo
open System
open Microsoft.FSharp.Linq
open FSharpDemo1.Company
let data = [|84683.0; 937.29; 37.0; 02893.0; 01320.6; 873.94349|]
let students = [
                new Person("Person1", "NickName1", 33);
                new Person("Person2", "NickName2", 24);
                new Person("Person3", "NickName3", 42)
               ]
               
let foundID = (students
                     |> List.head).ID
    
// -- main --
let mainLinqDemo () = 
    printfn "Sample data : %A\n" data
    query {
            for number in data do
            sortBy number
            lastOrDefault
            }
    |> printfn "LastOrDefault query operator : %f\n\n-----------------------------------\n\n"
    printfn "Sample data : %A\n" students
    printfn "\nExactlyOne query operator."
    let studentName =
        query {
            for student in students do
            where (student.ID = foundID)
            select student.FirstName
            exactlyOne
            }
    printfn "Student with StudentID = %s is %s" (foundID.ToString()) studentName

</pre>
            </code>
        </aside>
        <footer></footer>
    </article>
</section>

