<h2>Why F#?</h2>
<div>
    <ul>
        <li>Simple Code for Complex Problems</li>
        <li>Rapid Prototyping</li>
        <li>Seamless Interoperability</li>
        <li>Efficient Execution</li>
        <li>Reduced Complexity</li>
    </ul>
</div>